@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');



:root{
    --dark-blue : #05386b;
    --dark-green: #379683;
    --light-green : #5cdb95;
    --ultra-lightgreen: #8ee4af;
    --off-white: #edf5e1;
}



*,*::after,*::before{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100vw;
   height: 100vh;

}

.head{
    min-height: 15vh;
    font-family: 'Silkscreen', cursive;
    font-size: 2em;
    background-color: var(--dark-blue);
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--off-white);
    border-bottom: 2px solid black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.40);
}



.main{
    background-color: var(--light-green);
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
   
   
}

.gameboard{
  
    width: 23rem;
    height: 20rem;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr) ;
    
}

.box{
    border: 4px solid var(--dark-blue);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    font-size: 6em;
    font-family: 'DynaPuff', cursive;
    cursor: pointer;

    
    
}

#box0,#box1,#box2{
    border-top: 0;
}

#box0,#box3,#box6{
    border-left: 0;
}
#box2,#box5,#box8{
    border-right: 0;
}
#box6,#box7,#box8{
    border-bottom: 0;
}

.show{
    font-size: 2em;
    font-family: 'Silkscreen', cursive;
    font-weight: 600;
    margin-bottom: -10px;
    color: rgb(69, 69, 69);
}

button{
    padding: 1em 3em 1em 3em;
    border-radius: 5px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--off-white);
    cursor: pointer;
    font-family: 'Roboto' ,sans-serif;
    font-size: 1em;
    
    
}

button:active{
    transform: scale(0.99);
}

button:hover{
    background-color: #0f4e8d;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 5vh;
   background-color: #379683;
   width: 100vw;
   color: var(--ultra-lightgreen);
}

a{
    margin-top: 5px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}




























